# Conexión para PostgreSQL Local
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dosisalert_db?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/dosisalert_db?schema=public"

# O para Neon Database en la nube:
# DATABASE_URL="postgresql://neondb_owner:xxxxx@ep-xxxx-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
# DIRECT_URL="postgresql://neondb_owner:xxxxx@ep-xxxx.us-east-2.aws.neon.tech/neondb?sslmode=require"
